@model IEnumerable<GuitarLearning.Models.Piece>

@{
    ViewBag.Title = "Pieces";
}

<h2>Pieces</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Composer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exams)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Composer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>
        <td>
            @foreach (var exam in item.Exams)
            {
                @exam.ExamBoard; 
                @:- Grade 
                @exam.Grade;
				@:
				@exam.Instrument; 
                <br/>

            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PieceID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PieceID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PieceID })
        </td>
    </tr>
}

</table>
